/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace components "info.tiefenauer.jasskass.jass.views.components.*";
@namespace popups "info.tiefenauer.jasskass.jass.views.popups.*";
@namespace phone "info.tiefenauer.jasskass.jass.views.phone.*";
@namespace local "*";

@font-face
{
	src: url('/assets/fonts/eraser-dust.ttf');
	fontFamily: crayon;
}

/*****************************************************************
* GLOBAL STYLES
*****************************************************************/
global {
	modalTransparency: 0.5;
	modalTransparencyBlur: 2;
	modalTransparencyColor: #000000;
	modalTransparencyDuration: 100;
}

phone|JassPenaltyView, phone|JassGameView, phone|JassDetailView
{
	color: #FFFFFF;
	fontFamily: crayon;
	fontSize: 20;
	color: #FFFFFF;
}

components|ZGroup
{
	skinClass: ClassReference("info.tiefenauer.jasskass.skins.ZGroupSkin");
}

components|JassTeppich
{
	skinClass: ClassReference("info.tiefenauer.jasskass.skins.JassTeppichGermanSkin");
}

phone|AdHocTeamBuilderView s|Label.playerName
{
	color: #474647;
	fontSize: 30;
	fontWeight: bold;
}